circle {
    fill: crimson;
}

g {
    stroke-width: 2;
}

path {
    stroke: white;
    fill: gold;
}

text {
    font-size: 20px;
    font-family: verdana;
    text-anchor: middle;
}

tspan {
    fill: white;
}


#grey{
	background: red;
}